nav {
    background-color: #cb32ed; 
    padding: 1px;
    height: 50px;
}
nav ul{list-style: none;
}

nav ul li {display: inline;
}

nav ul a {
    
  color: white;
  padding: 20px;
  text-decoration: none;
  font-size: 15px;
}

#hr_1{
    height: 5px;
    background-color: black;
    margin-bottom: 10px;
}


#profile_pic
{
    width:200px;
    height: 200px;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 100%;
    margin-bottom: 25PX;
    
    
    border: solid black;
}


#main_container{
    display: flex;
    height: 275px;
}
#part_01{

    width: 15%;
}

#part_02{
    margin-left: 25PX;
    margin-top: 50px;
    width: 70%;
}
#Trainer_user_name{
   
    margin-bottom: 0px;
}
#id_number{
    margin-top: 0px;
}
#part_03{
    
    width: 15%;
    margin-right: 0px;
   
}
#login_out{
    margin-top: 25PX;
    
    width: 50%;
    
}

#t_date{
    width: 50%;
   margin-top: 150PX;
   
}

#middle_nav{
    display:flex;
    
    background-color: #F2BAFF;
    border-radius: 25px;
    
 
    
}
#middle_nav_button{
    width:200px;
    height: 40px;
    border: none;
    border-top-left-radius:25px  ;
    border-top-right-radius:25px  ;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    color : white;
    background-color: #cb32ed;
    font-size: 15px;
    
}

#comments_container{
    width: 90%;
    height: 725px;
    background-color:#F2BAFF ;
    margin :50px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comment_01,#comment_02,#comment_03,#comment_04,#comment_05,#comment_06,#comment_07{

    width: 90%;
    height: 75px;
    background-color: #cb32ed;
    margin-top: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
  

}
#comment_user_id_01,#comment_user_id_02,#comment_user_id_03,#comment_user_id_04,#comment_user_id_05,#comment_user_id_06,#comment_user_id_07{
    width: 25%;
   
    text-align: center;
    font-size: 15px;
    

}
#user_comment_01,#user_comment_02,#user_comment_03,#user_comment_04,#user_comment_05,#user_comment_06,#user_comment_07{
    width: 50%;
     color: white;
 
}

#comment_button{
    background-color: black;
 
    height: 25px;
    width: 100px;
    color: white;
}
#footer{
    
    margin-top: 25px;
    background-color:#cb32ed ;
  }

